*{
    margin:0;
    padding:0;
}
.main-image img{
    height:500px;
    width:560px;
}
.main{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  gap:100px;
}

.main-title{
  font-size:2.5rem;
  color:rgba(0, 0, 0, 0.824);
  word-spacing:10px;
  padding-bottom: 30px; 

}
.main-description{
    color:rgba(0, 0, 0, 0.645);
    word-spacing:5px;
    width:200px;
    padding-bottom: 30px; 
}
.btn{
    color:white;
    font-size:10px;
    background-color: rgba(0, 0, 0, 0.824);
    padding:15px 30px;
    border:0;
    outline:none;

}
.btn:hover{
    border:solid 2px blue;
}
@media screen and (max-width:576px){
    .main{
        flex-direction: column;
        align-items: center;
        margin-top:150px;
    }
}